.dashheader {
  @extend %fontsize;
  grid-column: center-start / full-end;
  grid-row: 2;
  display: grid;
  grid-gap: 6em;
  align-items: start;
  margin-top: 1.5em;
  &__buttonbox {
    height: 75%;
    width: 95%;
  }
  &__btn {
    border: none;
    background-color: $color-primary-hotel;
    font-size: large;
    height: 100%;
    width: 20%;
    margin-right: 4vw;
    margin-left: 4vw;
    &:active,
    &:focus {
      outline: none;
    }
  }
}
