.dashheader {
  @extend %fontsize;
  grid-column: center-start / full-end;
  grid-row: 2;
  align-items: start;
  margin-top: 1.15em;
  background-image: linear-gradient(
    to bottom,
    rgba($color-sidebar, 0.85),
    rgba($color-footer, 0.9)
  );

  &__buttonbox {
    height: 75%;
    width: 95%;
  }
  &__btn {
    border: none;
    background-color: $color-primary-hotel;
    font-size: large;
    height: 100%;
    width: 20%;
    margin-right: 4vw;
    margin-left: 4vw;
    &:active,
    &:focus {
      outline: none;
    }
  }
}
