.dashsidebar {
  @extend %fontsize;

  background-image: linear-gradient(
    to bottom,
    rgba($color-header, 0.9),
    rgba($color-sidebar, 0.9)
  );
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  // grid-column-gap: 2em;
  // grid-row-gap: 5vh;
  // align-items: flex-start;

  // @media only screen and (max-width: $bp-large) {
  //   grid-column: 1/ -1;
  //   grid-row: 1/ 2;
  //   justify-content: flex-end;
  //   align-items: center;
  // }
  &__name {
    border: none;
    background-color: inherit;
    color: white;
    &:active,
    &:focus {
      outline: none;
    }
  }
  &__partition {
    height: 0.21em;
    background-color: black;
  }

  &__items {
    font-size: large;
    background-color: inherit;
    border: none;

    margin-top: 1em;
  }
  // &__content {
  //   margin: -5em 0;
  // }
}
.dropdown {
  background: inherit;
  border: 1px solid $color-header;
  border-radius: 1px;

  &__list {
    opacity: 0;
    transition: max-height 0.6s ease-out;
    transition: opacity 0.15s ease-out;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    &--active {
      max-height: 1000px;
      opacity: 1;
    }
  }

  &__list-item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #000;

    &--active {
      background: $color-header;
    }
  }

  &__toggle {
    border: none;
    font-size: 1.5em;
    background: inherit;
    margin-left: 0.6em;
    color: white;
    &:active,
    &:focus {
      outline: none;
    }
  }
  &__title {
    width: 100%;
    color: rgba($color-footer, 0.9);
  }
  &__button {
    background: inherit;
    border: none;
    width: 3em;
    height: 2em;
    &:active,
    &:focus {
      outline: none;
    }
    &-1 {
      margin-left: 1.61em;
    }
    &-2 {
      margin-right: 0.61em;
    }
    &-box {
      display: flex;
    }
  }
}
.center {
  text-align: center;
  font-size: 2.3em;
  padding-top: 0.25em;
  color: $color-footer;
}
