.authcontainer {
  width: 100vw;
  height: 78.5vh;
  text-align: center;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-header, 0.8),
      rgba($color-footer, 0.8)
    ),
    url(../../landing/image/building.jpg);
  background-size: cover;
}
