.section-about {
  @extend %fontsize;

  background-color: rgba(#eea001, 0.8);
  padding: 25em 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20em 0;
  }
}

.section-tours {
  @extend %fontsize;
  position: relative;
  z-index: 5;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../landing/image/smart-building.jpg");
  background-size: cover;

  padding: 10em 0 15em 0;
  margin-top: -10em;

  @include respond(tab-port) {
    padding: 20em 0 10em 0;
  }
}

.section-stories {
  @extend %fontsize;

  position: relative;
  // padding: 15em 0;

  @include respond(tab-port) {
    padding: 10em 0;
  }
}

.section-book {
  @extend %fontsize;
  padding: 25em 0;
  position: relative;
  z-index: 5;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-primary-light, 0.8),
  //   rgba($color-primary-dark, 0.8)
  // );
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  margin-top: -7em;
  @include respond(tab-port) {
    padding: 10em 0;
  }
}

.book {
  @extend %fontsize;

  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../landing/image/building.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5em 4em rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../../landing/image/building.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../../landing/image/building.jpg);
  }

  &__form {
    width: 50%;
    padding: 6em;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

.section-Login {
  @extend %fontsize;

  padding: 15em 0;

  @include respond(tab-port) {
    padding: 10em 0;
  }
}
.section-features {
  padding: 18rem 0;
  height: 100%;
  background-color: rgba(#eea001, 0.8);

  transform: skewY(-4deg);
  background-size: cover;
  margin-top: -4rem;

  & > * {
    transform: skewY(4deg);
  }
  @include respond(tab-port) {
    padding: 15rem 0;
  }
}
